@font-face {
    font-family: Yekan;
    src: url("../fonts/BYekan.ttf") format("ttf");
    src: url("../fonts/BYekan.woff") format("woff");
    src: url("../fonts/BYekan.woff2") format("woff2");
    font-weight: normal;
}

.main {
    display: grid;
    grid-template-areas:
        'h h h h h h h h h h h h'
        'n n n n n n n n n n n n';
    gap: 1%;
}

.header {
    grid-area: h;
    margin: 10px;
    padding: 10px;
}

.nav {
    grid-area: n;
}

body {
    background-image: url(../img/Rectangle\ 1.png);
}

.container {
    width: 90%;
    margin: 0px auto;
}

/* start nav */
.main .nav {
    width: 100%;
    height: 50px;
    background-color: #fbffff;
    display: flex;
    flex-wrap: wrap;

}

.main .nav .main-form-nav {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-left {
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-submit {
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.box-city {
    width: 75%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #d0c69d;
    color: #d0c69d;
    background: none;
}

.sh {
    width: 20%;
    height: 55%;
    background-color: #39b8c0;
    border: none;
    border-radius: 60px;
    color: white;
    margin-left: 20px;
}

.city {
    border: none;
    border-bottom: solid 1px;
    color: #39b8c0;
    background-color: #fbffff;
}

p,
i {
    color: #39b8c0;
}

/* end nav */
.grid-container {
    width: 86%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-areas:
        'ph1 ph1 ph1 ph1 ph2 ph2 ph2 ph2 ph3 ph3 ph4 ph4'
        'ph1 ph1 ph1 ph1 ph2 ph2 ph2 ph2 ph3 ph3 ph4 ph4'
        'ph1 ph1 ph1 ph1 ph6 ph6 ph6 ph6 ph3 ph3 ph5 ph5'
        'ph1 ph1 ph1 ph1 ph6 ph6 ph6 ph6 ph3 ph3 ph5 ph5'
        'ph7 ph7 ph7 ph7 ph7 ph7 ph7 ph7 ph3 ph3 ph10 ph10'
        'ph7 ph7 ph7 ph7 ph7 ph7 ph7 ph7 ph3 ph3 ph10 ph10'
        'ph8 ph8 ph8 ph8 ph9 ph9 ph9 ph9 ph3 ph3 ph10 ph10'
        'ph8 ph8 ph8 ph8 ph9 ph9 ph9 ph9 ph3 ph3 ph10 ph10'
        'ph8 ph8 ph8 ph8 ph9 ph9 ph9 ph9 ph3 ph3 ph10 ph10';
    gap: 1%;
}

/* .ph1,
.ph2,
.ph3,
.ph4 .ph5,
.ph6,
.ph7,
.ph8 .ph9 {
    width: 100%;
    background-color: darkmagenta;
} */

.ph1 {
    grid-area: ph1;
    width: 100%;
    object-fit: cover;
}

.ph2 {
    grid-area: ph2;
    width: 100%;
    object-fit: cover;
}

.ph3 {
    grid-area: ph3;
    width: 100%;
    object-fit: cover;
}

.ph4 {
    grid-area: ph4;
    width: 100%;
    object-fit: cover;
}

.ph5 {
    grid-area: ph5;
    width: 100%;
    object-fit: cover;
}

.ph6 {
    grid-area: ph6;
    width: 100%;
    object-fit: cover;
}

.ph7 {
    grid-area: ph7;
    width: 100%;
    object-fit: cover;
}

.ph8 {
    grid-area: ph8;
    width: 100%;
    object-fit: cover;
}

.ph9 {
    grid-area: ph9;
    width: 100%;
    object-fit: cover;
}

.ph10 {
    grid-area: ph10;
    width: 100%;
    object-fit: cover;
}
 @media screen and (max-width: 550px){
    .sh {
        width: 50%;
        height: 55%;
        background-color: #39b8c0;
        border: none;
        border-radius: 60px;
        color: white;
        margin-left: 20px;
    }
    
    .main .nav {
        width: 100%;
        height: 70px;
        background-color: #fbffff;
        display: flex;
        flex-wrap: wrap;
    }

    .grid-container {
        grid-template-areas:
        'ph1 ph1 ph1 ph1'
        'ph1 ph1 ph1 ph1' 
        'ph1 ph1 ph1 ph1' 
        'ph1 ph1 ph1 ph1'
        'ph2 ph2 ph2 ph2'
        'ph2 ph2 ph2 ph2'
        'ph3 ph3 ph3 ph3'
        'ph3 ph3 ph3 ph3'
        'ph3 ph3 ph3 ph3'
        'ph3 ph3 ph3 ph3'
        'ph4 ph4 ph4 ph4'
        'ph5 ph5 ph5 ph5'
        'ph6 ph6 ph6 ph6'
        'ph6 ph6 ph6 ph6'
        'ph7 ph7 ph7 ph7'
        'ph7 ph7 ph7 ph7'
        'ph7 ph7 ph7 ph7'
        'ph7 ph7 ph7 ph7'
        'ph8 ph8 ph8 ph8'
        'ph8 ph8 ph8 ph8'
        'ph8 ph8 ph8 ph8'
        'ph9 ph9 ph9 ph9'
        'ph9 ph9 ph9 ph9'
        'ph9 ph9 ph9 ph9'
        'ph10 ph10 ph10 ph10'
        'ph10 ph10 ph10 ph10'
        'ph10 ph10 ph10 ph10'


    }
    .grid-container {
        flex-direction: column;
        align-items: flex-start;
      }
      .ph7 {
        grid-area: ph7;
        width: 90%;
        object-fit: cover;
    }
}